*{
     margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
li{
    list-style: none;
}
.logo{
    width: 100%;
    text-align: center ;
    margin: 20px 0;
}
.logo h4{
    cursor: pointer;
    font-size: 35px;
     color: darkcyan;
    letter-spacing: 2px;
    margin: 20px 0 5px 0;
}
.logo h4:hover{
    color: #ce8460;
}
.nav{
    width: 100%;
    border-top:2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
.nav>ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.nav>ul>li{
    position: relative;
    margin: 0 20px;
}
.nav ul li a{
    color: coral;
    text-decoration: none;
}
.nav ul li a:hover{
    color: cyan;
}
.nav ul li ul{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background: aliceblue;
    padding: 10px;
    width: 100px;
}
.nav ul li li{
    margin: 5px 0;
}
.nav>ul>li:hover ul{
    display: block;
}
.banner{
    width: 800px;
    margin: 20px auto;
}
.banner img{
    width: 100%;
}
.about{
    width: 800px;
    margin: auto;
}
.about h3{
    display: flex;
    align-items: center;
   color: #ce8460;
    font-size: 24px;
}
.about h3::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 30px;
    margin-left: 10px;
    background: #ce8460;
}
.about p{
    line-height: 1.8;
    margin: 20px 0;
    text-indent: 2em;
}
.video{
    width: 20px 0;
}
.footer{
    background: #333333;
    width: 100%;
    color: crimson;
    padding: 10px 0;
    text-align: center;
}